* {
    font-family: 'Druk Wide Medium', sans-serif; 
}
html {
    height: 100%; 
}

body {
    height: 950px; 
    background-color: $main-black;

}
.container {
    margin: 0 auto;
    max-width: 1550px;
    height: 950px;
    position: relative;  
    padding: 60px 70px;
}