.main {
    height: calc(100% - 128px);
    background-color: $main-red;
    overflow: hidden;
    position: relative;
    padding-top: 60px;
    padding-left: 250px;
    overflow: visible;

    & > img {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        object-fit: contain;
    }
    &__agents {
        cursor: default;
        width: 670px;
        overflow: hidden;
        position: absolute;
        padding: 4px;
        left: -253px;
        top: 312px;
        font-family: 'Druk Wide Medium';
        font-size: 150px;
        text-align: center;
        letter-spacing: 0.1em;
        color: transparent;
        transform: rotate(90deg);
        -webkit-text-stroke: 1px #fff;
    }
    &__wrapper {
        width: 102%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 1399.98px) {
        &__agents {
            display: none
        }
        padding-left: 70px;
    }
}

