@font-face {
    font-family: 'Druk Wide Medium';
    src: url("./Druk-Wide-Medium-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}